# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.npm-only-allow
node_modules
.pnp
.pnp.js

#History directory
./history/
*.history
.setup_done

# local env files
.env
.env.local
.env.*.local

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Automated Testing
/coverage/integration
/test-results/
/playwright/storage-states/
/playwright/.cache/
/playwright-report/

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# SCSS/Sass
# https://github.com/github/gitignore/blob/master/Sass.gitignore

.sass-cache/
*.css.map
*.sass.map
*.scss.map

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# VSCode
# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore

# by default all files in this directory should be ignored in Git
*devcontainer.env

# Yarn Package Management
.yarn/*
.yarn/install-state.gz
.yarn-integrity
yarn-error.log
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# project specific files
/data/training
